<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>game</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Merriweather:400,300italic,300,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <!-- Old Browser Compatibility -->
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Main Content -->
    <div class="container" id="introContainer"></div>
    <div class="container" id="menuContainer"></div>
    <div class="container" id="fieldContainer">
        <div id="topMenu" class="top-menu hide">John</div>
        <div id="actionMenuContainer"></div>
    </div>
    <div id="textContainer">
        <div id="dialogue">Blah blah blah</div>
        <div id="profileContainer"></div>
        <img id="speakerProfile" src="images/redHead.svg"></img>
    </div>
    <div id="poster">Begin!</div>
    <div id="corner">
        <p>Name</p>
    </div>

    <!-- Audio Tags -->
    <audio id="sound1" src="sounds/click1.wav"></audio>
    <audio id="sound2" src="sounds/select1.wav"></audio>
    <audio id="dynamicSound" src=""></audio>

    <!-- Client-side HTML Templates -->
    <script type="text/template" id="actionMenuTemplate">
        <ul class="action-menu">
            <% _.each(actionOptions, function(item, i){ %>
                <li class="action-option" data-action="<% print(i) %>">
                    <% print(item) %>
                </li>
            <% }); %>
        </ul>
    </script>

    <!-- Scripts -->
    <script src="build/scripts/vendor-all.min.js"></script>
    <script src="build/scripts/scripts-all.js"></script>
</body>
</html>
















